:root {
  // Generic Colors
  --white: #FFFFFF;

  --gray-lighter: #FAFAFA;
  --gray-light: #F4F4F4;
  --gray: #DCDCDC;
  --gray-dark: #ADADAD;
  --gray-darker: #555555;

  --black: #000000;

  --purple-light: #9C4DCC;
  --purple: #6A1B9A;
  --purple-dark: #38006B;

  // Palettte
  --primary: var(--gray-lighter);
  --primary-dark: var(--gray-light);
  --primary-darker: var(--gray-lighter);

  --accent-light: var(--purple-light);
  --accent: var(--purple);
  --accent-dark: var(--purple-dark);

  // User Feedback
  --success: #4caf50;
  --info: #2196f3;
  --warn: #ff9800;
  --error: #f44336;

  // Borders
  --border: 1px solid var(--gray);

  // App Wide Vars
  --app-bg: var(--gray-lighter);

  // Side Nav
  --side-nav-bg: var(--gray-light);
  --side-nav-width: 250px;

  // Typeography
  --font-roboto: 'Roboto', sans-serif;

  --font-weight-thin: 100;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 15px;
  --font-size-lg: 18px;
  --font-size-xl: 21px;
  --font-size-2xl: 24px;
}
