.sideNav {
  min-width: var(--side-nav-width);
  background-color: var(--side-nav-bg);
  border-right: var(--border);
  padding: 48px 32px;
  height: 100vh;

  &__list {
    padding: 0;
    margin-bottom: 0;
  }

  &__listItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
  }

  &__listName {
    font-weight: var(--font-weight-bold);
    margin-left: 8px;
  }
}
